body {
	font-family: 'Glegoo', serif;
}

.nav-pills > a {
	font-family: Calligraffitti;
	font-size: 15px;
	text-shadow: none;
	line-height: 17px;
}

.navbar .nav-pills > li > a {
	
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px 40px;
	border-radius: 5px;
	color: #292929;
	background-color: #F0F0F0;
}

.navbar .nav-pills > li > a {
	text-shadow: none;
	font-weight: normal;
}

.navbar .nav-pills > li > a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #55c8ff), color-stop(90%, #55c8ff));
    color: #FFF;	
}

/* ---- div recent_works ---- */

div.recent_works h2 {
	z-index: 1;
	position: relative;
	text-align: center;
	font-weight: bold;
}

div.recent_works span.line {
	background: #333;
	height: 1px;
	display: block;
	top: 18px;
	width: 33%;
	margin-left: 33.3%;
	position: absolute;
}

div.recent_works span.text {
	background: #FFF;
	z-index: 20;
	position: relative;
	text-align: center;
	padding: 0px 14px;
}

div.recent_works em {
	color: #999;
	font-size: 14px;
	display: block;
	font-weight: 400;
	font-style: normal;
	margin-top: 3px;
}

/* ----- end div recent_works ----- */


/* ----- div features_sec7 ----- */

div.features_sec7 {
	float: left;
	width: 100%;
	/*padding: 115px 0px 75px 0px;*/
	padding: 0px 0px 0px 0px;
	text-align: center;
	background: #F4F4F4;
	border-bottom: 3px double #F1F1F1;
	border-radius: 5px;
	margin-bottom: 15px;
}

div.features_sec7 div.title2.sy2 h2 {
	z-index: 1;
	position: relative;
	text-align: center;
	font-weight: bold;
}

div.features_sec7 div.title2.sy2 span.line {
	background: #333;
	height: 1px;
	display: block;
	top: 18px;
	width: 33%;
	margin-left: 33.3%;
	position: absolute;
}

div.features_sec7 div.title2.sy2 span.text {
	background: #F4F4F4;
	z-index: 20;
	position: relative;
	text-align: center;
	padding: 0px 14px;
}

div.features_sec7 div.title2.sy2 em {
	color: #999;
	font-size: 14px;
	display: block;
	font-weight: 400;
	font-style: normal;
	margin-top: 3px;
}

div.features_sec7 div.one_fourth.animate div.box {
	float: left;
	width: 100%;
	padding: 30px 0px 45px 0px;
	transition: all 0.3s ease;
	border-radius: 3px;
}

div.features_sec7 div.one_fourth.animate div.ibox {
	margin: 0 auto 45px auto;
	width: 162px;
	height: 162px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	background: url(../images/site-img19.png) no-repeat center top;
}

div.features_sec7 div.one_fourth.animate div.ibox h6 {
	color: #FFF;
	background: #E54C4C;
	padding: 1px 0px 2px 0px;
	border-radius: 3px;
	/* margin-top: 14px; */
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	/* margin-bottom: 20px; */
	font-style: normal;
}

div.features_sec7 div.one_fourth.animate div.box p {
	font: 14px 'Open Sans', sans-serif;
font-weight: normal;
line-height: 23px;	
}

div.features_sec7 div.one_fourth.animate div.box a.tbut{
	color: #333;
	background: #FFF;
	padding: 7px 22px;
	border-radius: 20px;
	border: 1px solid #FFF;
	text-decoration: none;
}

.features_sec7 .box:hover,
.features_sec7 .box.active {
	background: #fff;
}


div.features_sec7 div.one_fourth.animate div.box:hover a.tbut {
	/*background: #E54C4C;
	color: #fff;*/
	background: #f3f3f3;
	
}


div.features_sec7 div.one_fourth.animate {}

.one_fourth {
	width: 33.3%;
	position: relative;
	/*margin-right: 4%;*/
	float: left;
}

/* ----- end div features_sec7 ----- */


/* ----- div features_sec3 ----- */

div.features_sec3 {
	float: left;
	width: 100%;
	/*padding: 115px 0px;*/
	text-align: center;
}

.one_third {
	width: 33%;
	position: relative;
	float: left;
}

.features_sec3 .box {
	float: left;
	width: 100%;
	text-align: left;
	/*margin-bottom: 55px;*/
	margin: 20% 0% 30% 0%;
}

ol.carousel-indicators {
	width: 7%;
	margin-left: 22%;
}

div.item {
	margin-top: 7%;
}

a.left.carousel-control {
	margin-left: 50%;
}

div.right {
	position: absolute;
	left: 20%;
}

.features_sec3 .box .right {
	float: left;
	width: 76%;
	margin-left: 7%;
}

div.right h5 {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	font-style: normal;
}

div.right p {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 23px;
}

/* ----- end div features_sec3 ----- */

.test-animate:hover {
	/*background: #55C8FF;
	border-radius: 5px;
	color : #fff;*/
}

.features_sec3 .box .left {
	float: left;
}

.outline-outward {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.outline-outward {
	display: inline-block;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	border-radius: 100%;
}

.ciref {
	width: 59px;
	height: 59px;
	cursor: pointer;
	background: #EEE;
	text-decoration: none;
	color: #333;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 61px;
	border-radius: 100%;
	margin-bottom: 25px;
	transition: all 0.4s ease;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.service-item {
	margin-bottom: 20%;
}

.service-item > i {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	margin-right: 15px;
	background: #ED3E49;
	color: #FFF;
	float: left;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}


/*
i.fa.fa-gear {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	margin-right: 15px;
	background: #ED3E49;
	color: #FFF;
	float: left;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}
*/


.footer {
	margin: 0 auto;
	padding-bottom: 10px;
	background-color: #000;
	-moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05) inset;
}
		